html {
  min-height: 100%;
}

body {
  padding-top: 0px;
  min-height: 100%;
}

h1.dramatic-in {
  animation: dramatic-in 2s;
}

p.dramatic-in {
  animation: dramatic-in 4s;
  font-size: 20px;
}

.group-pic {
  color: white;
  background: black url("/images/group_pic.jpg") no-repeat scroll center 10%;
  text-shadow: 4px 4px 4px #000000;
}

@keyframes dramatic-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
